.text {
    font-size: 0.75rem;
    line-height: 1.5rem;
}

.card-title {
    margin-top: 1rem;
}

video{
    width: 100%;
    height: 50%;
}
.text {
    font-size: 0.75rem;
    line-height: 1.5rem;
    padding: 10px;
}

.card-title {
    margin-top: 1rem;
}

.flip-card {
    background-color: transparent;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg) scale(1.1);
  }

  .flip-card:hover {
      z-index: 2;
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    backface-visibility: hidden;
  }
  
  
  .flip-card-back {
    transform: rotateY(180deg) scale(1.1);
    box-shadow: 0 0 40px rgba(0,0,0,.15); 
    background-color: white;
    color: black;
    margin: 10px;
    padding: 10px;
  }
